.slick-dots {
  bottom: -81px;
  li {
    margin: 0%;
    width: 12px;
  }
}
.slick-slide {
  // width: 300px !important;
  // height: 100%;
  // margin-inline: 20px;
  div {
    margin-inline: 10px;
  }
}
