.footer-container{
    width:calc(100% - 40px);
    padding-inline: 20px;
    padding-block: 5px;
    justify-content: space-between;
    display: flex;
    
    align-items: center;
//    a{
//     cursor: pointer;
//    }


}
