@import "./styles/variables/_mixins.scss";
body{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
 font-family: 'YourFontName',sans-serif;
 background-color: white;
}

html{
    scroll-behavior: smooth;
}
.slick-dots li{
   width: 8px !important;
}
.slick-dots li button::before{
    font-size: 10px !important;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #f9aa5a !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}